@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@400;700&family=Lexend+Deca&family=Overpass&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 1440px;
  height: 1170px;
  background: #f5f8fa;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
header {
  margin: 30px 40px 0 40px;
  display: grid;
  grid-template-columns: 200px 476px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(224, 230, 234, 1);
  padding-bottom: 30px;
}
#image-1 {
  width: 200px;
  height: 39px;
}
nav {
  width: 476px;
  height: 40px;
}
nav > ul {
  width: 476px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul > li {
  list-style-type: none;
  color: #1d2c3c;
  font-weight: 700;
  letter-spacing: -0.01px;
}
nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li:last-child {
  border: 1px solid;
  text-align: center;
  padding: 11px 20px 12px 19px;
  border-radius: 6px;
  border: 2px solid #646e7a;
}
main {
  margin: 85px 286px 0 262px;
  width: 892px;
  height: 795px;
  display: grid;
  grid-template-columns: 580px 312px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
    0px 15px 35px 0px rgba(43, 64, 78, 0.1);
}
main > div > hr {
  width: 580px;
  height: 0px;
  background: #f5f7fa;
  margin-top: 24px;
  opacity: 0.2005;
}
main > div > h1 {
  margin-top: 41px;
  margin-left: 48px;
  width: 161px;
  height: 54px;
  color: #1d2c3c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-weight: 400;
}
fieldset {
  border: none;
  margin-top: 38px;
}
.circle {
  text-align: center;
  padding: 2px 15px 25px 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid #548bc5;
  margin-left: 48px;
  margin-right: 10px;
  border-radius: 50%;
  color: #548bc5;
}
.your {
  display: inline-block;
  color: #1d2c3c;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.16px;
}
.basic {
  width: 220px;
  height: 32px;
}
.payment {
  width: 246px;
}
form div[class="double"] {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  margin-top: 9px;
}
.double > div {
  width: 250px;
}
label,
input {
  display: block;
}
.first > label {
  width: 187px;
  color: #1d2c3c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
.last > label {
  width: 227px;
  color: #1d2c3c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
input {
  width: 227px;
  height: 36px;
  border-radius: 4px;
  background: #edeff2;
  border: none;
  padding: 10px;
  color: #646e7a;
  font-size: 14px;
  font-weight: 400;
}
.email {
  margin-left: 50px;
  margin-top: 15px;
}
.email > label {
  width: 187px;
  color: #1d2c3c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
#email {
  width: 370px;
  height: 36px;
}
.credit {
  margin-left: 50px;
  margin-top: 15px;
  position: relative;
}
.credit > label {
  width: 187px;
  color: #1d2c3c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
#credit-card {
  width: 483px;
  height: 36px;
}
#nmc {
  display: flex;
  color: #646E7A;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  /* background-color: red; */
  width: 90%;
  height: 36px;
  position: absolute;
  top: 32px;
  margin-left: 10px;
}
#nmc-2{
  margin-left: 300px;
}
#nmc-3{
  margin-left: 30px;
}

main > div > form > hr {
  width: 580px;
  height: 0px;
  background: #f5f7fa;
  margin-top: 41px;
  opacity: 0.2005;
}
button {
  width: 483px;
  height: 52px;
  display: block;
  margin: 39px auto 24px auto;
  border: none;
  border-radius: 5px;
  background: #038e7d;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.396px;
}
main > div > p {
  text-align: center;
}
.last-not-least {
  display: flex;
  justify-content: center;
}
.last-not-least > img {
  margin-right: 10px;
}
.last-not-least > p > span {
  color: #1d2c3c;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01px;
}
.last-not-least > p {
  width: 303px;
  height: 16px;
  color: #646e7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01px;
}
.stripe-logo {
  width: 92px;
  height: 20.101px;
  display: block;
  margin: 40px auto 0 auto;
}
footer {
  text-align: center;
  width: 867px;
  margin-top: 33px;
  margin: 33px auto 0 auto;
  color: #636b6f;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
footer > a {
  text-decoration: none;
  color: #31708f;
  font-size: 16px;
  font-weight: 400;
}
.part-2 {
  width: 312px;
  height: 795px;
  border-radius: 0px 6px 6px 0px;
  background: #1179bf;
}
.part-2 > p:first-child {
  width: 93px;
  height: 24px;
  margin: 42px 41px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.01px;
}
.part-2 > p:nth-child(2) {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -0.015px;
  margin: 5px 41px 0;
  text-align: left;
}
.part-2 > p:nth-child(2) > sup {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.015px;
}
.part-2 > p:nth-child(2) > sub {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.015px;
  margin-top: 0;
}
.part-2 > p:nth-child(3) {
  text-align: left;
  width: 180px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008px;
  margin-left: 40px;
  margin-bottom: 37px;
}
.part-2 > p:nth-child(4),
.part-2 > p:nth-child(5),
.part-2 > p:nth-child(6) {
  display: flex;
  margin-left: 40px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008px;
}
.part-2 > p:nth-child(4) > img,
.part-2 > p:nth-child(5) > img,
.part-2 > p:nth-child(6) > img {
  margin-right: 11px;
}
.five {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.008px;
  margin-left: 5px;
  margin-right: 5px;
}
.part-2 > p:nth-child(7) {
  width: 186px;
  margin-left: 40px;
  margin-top: 38px;
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.008px;
}
.part-2 > p:nth-child(7) > span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.008px;
}
.part-2 > p:nth-child(8) {
  margin-left: 40px;
  width: 186px;
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.008px;
}
.part-2 > p:nth-child(8) > span {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.008px;
}
.part-2 > hr {
  width: 224px;
  height: 2px;
  opacity: 0.2005;
  background: #fff;
  margin: 42px auto 41px auto;
}
.ftp {
  width: 227px;
  height: 96px;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.009px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 17px;
}
.ftp > span {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.009px;
}
.part-2 > p:last-child {
  text-align: left;
  margin-left: 40px;
  display: flex;
}
.part-2 > p:last-child > img {
  margin-right: 11px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.part-2 > p:last-child > span {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.008px;
  margin-top: 10px;
}
